* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(17, 0, 0);
    color: rgb(255, 2, 2);
    font-family: "Ubuntu";
    cursor: default;

    &::selection {
        background-color: rgba(255, 0, 0, 0.171);
    }
}

body {
    margin: 10px;
}

.output > * {
    font-size: 16px;
}

.loadit {
    animation: load 0.5s ease-in-out forwards;
    opacity: 0%;
}

@keyframes load {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

a {
    text-decoration: underline;
    transition: all 0.5s;
}
a:hover {
    cursor: pointer;
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
    text-decoration: underline;
}

.commandBox {
    position: relative;
}

#commander {
    font-size: 16px;
    border: none;
    width: 90%;
    caret-color: rgb(255, 0, 0);
    &:focus {
        outline: none;
    }
}

.ascii {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(46, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
