* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(17, 0, 0);
    color: rgb(172, 0, 0);
    cursor: default;

    &::selection {
        background-color: rgba(255, 0, 0, 0.171);
    }
}

body {
    margin: 10px;
}

output > * {
    font-size: 16px;
}

a {
    text-decoration: underline;
    transition: all 0.5s;
}
a:hover {
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
    text-decoration: underline;
}

.commandBox {
    position: relative;
}

#commander {
    font-size: 16px;
    border: none;
    width: 90%;
    caret-color: rgb(255, 0, 0);
    &:focus {
        outline: none;
    }
}

.ascii {
    font-size: 20px;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(46, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
